<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixelate Components</title>
    <!-- Setup Polymer -->
    <link rel="import" href="packages/polymer/polymer.html">

    <!-- Import the styles -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../../packages/pixelate_flat/stylesheets/main.css">
    <link rel="stylesheet" href="../../packages/pixelate_flat/stylesheets/tree_view.css">
    <link rel="stylesheet" href="../../style.css">

    <!-- Import the elements -->
    <link rel="import" href="../../packages/pixelate/components/flex_panel/flex_panel.html">
    <link rel="import" href="../../packages/pixelate/components/tree_view/tree_view.html">
    <link rel="import" href="../../packages/pixelate/components/tree_view/tree_view_node.html">

    <!-- Initialize Polymer -->
    <script type="application/dart">export "package:polymer/init.dart";</script>

    <!-- Check for web platform features -->
    <script src="../../feature.check.js"></script>

    <!-- Setup syntax highlighting -->
    <link rel="stylesheet" href="../../syntax.css">
    <script src="../../highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </head>
  <body>
    <px-flex-panel orientation="vertical" style="min-height: 100%;">
      <div class="header-area">
  <div class="header">
    <h1>Components</h1>
    <h2>A set of reusable components for web applications</h2>
  </div>
</div>
<px-flex-panel class="content" orientation="horizontal" style="flex:1">
  <div class="documentation" style="flex: 1;">
    <div class="component-name">&lt;px-tree-view&gt;</div>
    <div class="overview"></div>
    <h2>Examples</h2>
    <p>A simple tree view. Elements can be expanded or collapsed by double clicking the header, or by clicking the expansion icon.</p>
    <div class="example">
      <px-tree-view>
  <px-tree-view-node header="Components (double click to expand)">
    <px-tree-view-node header="Layout">
      <px-tree-view-node header="FlexPanel"></px-tree-view-node>
      <px-tree-view-node header="GridPanel"></px-tree-view-node>
    </px-tree-view-node>
    <px-tree-view-node header="Navigation">
      <px-tree-view-node header="TreeView"></px-tree-view-node>
      <px-tree-view-node header="ListView"></px-tree-view-node>
    </px-tree-view-node>
  </px-tree-view-node>
</px-tree-view>
      <pre class="code"><code>&lt;px-tree-view&gt;
  &lt;px-tree-view-node header=&quot;Components (double click to expand)&quot;&gt;
    &lt;px-tree-view-node header=&quot;Layout&quot;&gt;
      &lt;px-tree-view-node header=&quot;FlexPanel&quot;&gt;&lt;&#x2F;px-tree-view-node&gt;
      &lt;px-tree-view-node header=&quot;GridPanel&quot;&gt;&lt;&#x2F;px-tree-view-node&gt;
    &lt;&#x2F;px-tree-view-node&gt;
    &lt;px-tree-view-node header=&quot;Navigation&quot;&gt;
      &lt;px-tree-view-node header=&quot;TreeView&quot;&gt;&lt;&#x2F;px-tree-view-node&gt;
      &lt;px-tree-view-node header=&quot;ListView&quot;&gt;&lt;&#x2F;px-tree-view-node&gt;
    &lt;&#x2F;px-tree-view-node&gt;
  &lt;&#x2F;px-tree-view-node&gt;
&lt;&#x2F;px-tree-view&gt;</code></pre>
    </div>
    <p>A customized tree view where icons are added to the header. A tree view like this is common in modeling programs.</p>
    <div class="example">
      <px-tree-view>
  <!-- Meshes -->
  <px-tree-view-node>
    <px-flex-panel orientation="horizontal" class="tree-view-header">
      <div class="icon mesh-icon"></div>
      <div>Meshes</div>
    </px-flex-panel>

    <!-- Skeleton -->
    <px-tree-view-node>
      <px-flex-panel orientation="horizontal" class="tree-view-header">
        <div class="icon skeleton-icon"></div>
        <div>Orc.skeleton</div>
      </px-flex-panel>

      <!-- Root node -->
      <px-tree-view-node>
        <px-flex-panel orientation="horizontal" class="tree-view-header">
          <div class="icon bone-icon"></div>
          <div>root</div>
        </px-flex-panel>
      </px-tree-view-node>
    </px-tree-view-node>
  </px-tree-view-node>

  <!-- Lights -->
  <px-tree-view-node>
    <px-flex-panel orientation="horizontal" class="tree-view-header">
      <div class="icon light-icon"></div>
      <div>Lights</div>
    </px-flex-panel>

    <!-- Sun -->
    <px-tree-view-node>
      <px-flex-panel orientation="horizontal" class="tree-view-header">
        <div class="icon light-icon"></div>
        <div>Sun</div>
      </px-flex-panel>
    </px-tree-view-node>

    <!-- Point Light -->
    <px-tree-view-node>
      <px-flex-panel orientation="horizontal" class="tree-view-header">
        <div class="icon light-icon"></div>
        <div>Point Light</div>
      </px-flex-panel>
    </px-tree-view-node>
  </px-tree-view-node>

  <!-- Cameras -->
  <px-tree-view-node>
    <px-flex-panel orientation="horizontal" class="tree-view-header">
      <div class="icon camera-icon"></div>
      <div>Cameras</div>
    </px-flex-panel>

    <!-- Player Camera -->
    <px-tree-view-node>
      <px-flex-panel orientation="horizontal" class="tree-view-header">
        <div class="icon camera-icon"></div>
        <div>Player Camera</div>
      </px-flex-panel>
    </px-tree-view-node>

    <!-- Replay Camera -->
    <px-tree-view-node>
      <px-flex-panel orientation="horizontal" class="tree-view-header">
        <div class="icon camera-icon"></div>
        <div>Replay Camera</div>
      </px-flex-panel>
    </px-tree-view-node>

    <!-- Top View Camera -->
    <px-tree-view-node>
      <px-flex-panel orientation="horizontal" class="tree-view-header">
        <div class="icon camera-icon"></div>
        <div>Top View Camera</div>
      </px-flex-panel>
    </px-tree-view-node>
  </px-tree-view-node>
</px-tree-view>
      <pre class="code"><code>&lt;px-tree-view&gt;
  &lt;!-- Meshes --&gt;
  &lt;px-tree-view-node&gt;
    &lt;px-flex-panel orientation=&quot;horizontal&quot; class=&quot;tree-view-header&quot;&gt;
      &lt;div class=&quot;icon mesh-icon&quot;&gt;&lt;&#x2F;div&gt;
      &lt;div&gt;Meshes&lt;&#x2F;div&gt;
    &lt;&#x2F;px-flex-panel&gt;

    &lt;!-- Skeleton --&gt;
    &lt;px-tree-view-node&gt;
      &lt;px-flex-panel orientation=&quot;horizontal&quot; class=&quot;tree-view-header&quot;&gt;
        &lt;div class=&quot;icon skeleton-icon&quot;&gt;&lt;&#x2F;div&gt;
        &lt;div&gt;Orc.skeleton&lt;&#x2F;div&gt;
      &lt;&#x2F;px-flex-panel&gt;

      &lt;!-- Root node --&gt;
      &lt;px-tree-view-node&gt;
        &lt;px-flex-panel orientation=&quot;horizontal&quot; class=&quot;tree-view-header&quot;&gt;
          &lt;div class=&quot;icon bone-icon&quot;&gt;&lt;&#x2F;div&gt;
          &lt;div&gt;root&lt;&#x2F;div&gt;
        &lt;&#x2F;px-flex-panel&gt;
      &lt;&#x2F;px-tree-view-node&gt;
    &lt;&#x2F;px-tree-view-node&gt;
  &lt;&#x2F;px-tree-view-node&gt;

  &lt;!-- Lights --&gt;
  &lt;px-tree-view-node&gt;
    &lt;px-flex-panel orientation=&quot;horizontal&quot; class=&quot;tree-view-header&quot;&gt;
      &lt;div class=&quot;icon light-icon&quot;&gt;&lt;&#x2F;div&gt;
      &lt;div&gt;Lights&lt;&#x2F;div&gt;
    &lt;&#x2F;px-flex-panel&gt;

    &lt;!-- Sun --&gt;
    &lt;px-tree-view-node&gt;
      &lt;px-flex-panel orientation=&quot;horizontal&quot; class=&quot;tree-view-header&quot;&gt;
        &lt;div class=&quot;icon light-icon&quot;&gt;&lt;&#x2F;div&gt;
        &lt;div&gt;Sun&lt;&#x2F;div&gt;
      &lt;&#x2F;px-flex-panel&gt;
    &lt;&#x2F;px-tree-view-node&gt;

    &lt;!-- Point Light --&gt;
    &lt;px-tree-view-node&gt;
      &lt;px-flex-panel orientation=&quot;horizontal&quot; class=&quot;tree-view-header&quot;&gt;
        &lt;div class=&quot;icon light-icon&quot;&gt;&lt;&#x2F;div&gt;
        &lt;div&gt;Point Light&lt;&#x2F;div&gt;
      &lt;&#x2F;px-flex-panel&gt;
    &lt;&#x2F;px-tree-view-node&gt;
  &lt;&#x2F;px-tree-view-node&gt;

  &lt;!-- Cameras --&gt;
  &lt;px-tree-view-node&gt;
    &lt;px-flex-panel orientation=&quot;horizontal&quot; class=&quot;tree-view-header&quot;&gt;
      &lt;div class=&quot;icon camera-icon&quot;&gt;&lt;&#x2F;div&gt;
      &lt;div&gt;Cameras&lt;&#x2F;div&gt;
    &lt;&#x2F;px-flex-panel&gt;

    &lt;!-- Player Camera --&gt;
    &lt;px-tree-view-node&gt;
      &lt;px-flex-panel orientation=&quot;horizontal&quot; class=&quot;tree-view-header&quot;&gt;
        &lt;div class=&quot;icon camera-icon&quot;&gt;&lt;&#x2F;div&gt;
        &lt;div&gt;Player Camera&lt;&#x2F;div&gt;
      &lt;&#x2F;px-flex-panel&gt;
    &lt;&#x2F;px-tree-view-node&gt;

    &lt;!-- Replay Camera --&gt;
    &lt;px-tree-view-node&gt;
      &lt;px-flex-panel orientation=&quot;horizontal&quot; class=&quot;tree-view-header&quot;&gt;
        &lt;div class=&quot;icon camera-icon&quot;&gt;&lt;&#x2F;div&gt;
        &lt;div&gt;Replay Camera&lt;&#x2F;div&gt;
      &lt;&#x2F;px-flex-panel&gt;
    &lt;&#x2F;px-tree-view-node&gt;

    &lt;!-- Top View Camera --&gt;
    &lt;px-tree-view-node&gt;
      &lt;px-flex-panel orientation=&quot;horizontal&quot; class=&quot;tree-view-header&quot;&gt;
        &lt;div class=&quot;icon camera-icon&quot;&gt;&lt;&#x2F;div&gt;
        &lt;div&gt;Top View Camera&lt;&#x2F;div&gt;
      &lt;&#x2F;px-flex-panel&gt;
    &lt;&#x2F;px-tree-view-node&gt;
  &lt;&#x2F;px-tree-view-node&gt;
&lt;&#x2F;px-tree-view&gt;</code></pre>
    </div>
  </div>
  <div class="component-selection">
    <h2>Layout</h2>
      <div class="link">
        <a href="../../components/flex_panel/index.html">FlexPanel</a>
      </div>
      <div class="link">
        <a href="../../components/grid_panel/index.html">GridPanel</a>
      </div>
    <h2>Navigation</h2>
      <div class="link">
        <a href="../../components/accordion/index.html">Accordion</a>
      </div>
      <div class="link">
        <a href="../../components/expander/index.html">Expander</a>
      </div>
      <div class="link">
        <a href="../../components/scroll_viewer/index.html">ScrollViewer</a>
      </div>
      <div class="link">
        <a href="../../components/tab/index.html">Tab</a>
      </div>
      <div class="link">
        <a href="../../components/tree_view/index.html">TreeView</a>
      </div>
    <h2>Controls</h2>
      <div class="link">
        <a href="../../components/button/index.html">Button</a>
      </div>
      <div class="link">
        <a href="../../components/list_view/index.html">ListView</a>
      </div>
      <div class="link">
        <a href="../../components/progress_bar/index.html">ProgressBar</a>
      </div>
      <div class="link">
        <a href="../../components/tooltip/index.html">Tooltip</a>
      </div>
      <div class="link">
        <a href="../../components/auto_complete/index.html">AutoComplete</a>
      </div>
  </div>
</px-flex-panel>
      <div class="footer">
        <px-flex-panel orientation="horizontal">
        </px-flex-panel>
        <p>Code licensed under a <a class="external" href="http://opensource.org/licenses/Zlib">zlib license</a>. Documentation under <a class="external" href="http://creativecommons.org/licenses/by/3.0/">CC by 3.0</a></p>
      </div>
    </px-flex-panel>

    <div class="navigation-area">
      <px-flex-panel orientation="horizontal" class="navigation">
        <div class="link"><a href="../../index.html">Pixelate</a></div>
        <div class="link"><a href="../../getting_started/index.html">Getting started</a></div>
        <div class="link"><a href="../../components/flex_panel/index.html">Components</a></div>
        <div class="link"><a href="../../docs/#pixelate/">Documentation</a></div>
      </px-flex-panel>
    </div>
  </body>
</html>