.icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.bone-icon {
  background: url('images/bone.png');
}

.camera-icon {
  background: url('images/camera.png');
}

.light-icon {
  background: url('images/lamp.png');
}

.mesh-icon {
  background: url('images/mesh2.png');
}

.skeleton-icon {
  background: url('images/skeleton.png');
}
