<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="packages/pixelate_flat/stylesheets/main.css">
    <link rel="stylesheet" href="packages/pixelate_flat/stylesheets/expander.css">

    <!-- Import the elements -->
    <link rel="import" href="packages/pixelate/components/accordion/accordion.html">
    <link rel="import" href="packages/pixelate/components/flex_panel.html">
    <link rel="import" href="packages/pixelate/components/grid_panel/grid_panel.html">

    <!-- Setup Polymer -->
    <script type="application/dart">export 'package:polymer/init.dart';</script>
    <script src="packages/browser/dart.js"></script>
  </head>
  <body>
    <px-flex-panel orientation="vertical" style="min-height: 100%;">
      <div class="header-area">
        <div class="header">
          <h1>Components</h1>
          <h2>A set of reusable components for web applications</h2>
        </div>
      </div>
      <px-flex-panel class="content" orientation="horizontal" style="flex:1">
        <div class="left-menu">
          <px-accordion class="selection">
            <px-expander class="components" header="Layout">
              <a href="components&#x2F;flex_panel&#x2F;">FlexPanel</a>
              <a href="components&#x2F;grid_panel&#x2F;">GridPanel</a>
              <a href="components&#x2F;scroll_viewer&#x2F;">ScrollViewer</a>
            </px-expander>
          </px-accordion>
        </div>
        <div class="documentation">
          <div class="component-name">&lt;px-scroll-viewer&gt;</div>
          <div class="overview">Testing this</div>
          <h2>Examples</h2>
        </div>
      </px-flex-panel>
      <div class="footer">
        <px-flex-panel orientation="horizontal">
        </px-flex-panel>
        <p>Code licensed under a zlib license. Documentation under <a href="http://creativecommons.org/licenses/by/3.0/">CC by 3.0</a></p>
      </div>
    </px-flex-panel>

    <div class="navigation-area">
      <div class="navigation">
        <div>Pixelate</div>
        <div>Components</div>
      </div>
    </div>
  </body>
</html>
