<!DOCTYPE html><html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixelate Components</title>
    <!-- Import the styles -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../../packages/pixelate_flat/stylesheets/main.css">
    <link rel="stylesheet" href="../../packages/pixelate_flat/stylesheets/tooltip.css">
    <link rel="stylesheet" href="../../style.css">

    <!-- Import the elements -->
    <link rel="import" href="../../packages/pixelate/components/flex_panel/flex_panel.html">
    <link rel="import" href="../../packages/pixelate/components/tooltip/tooltip.html">

    <!-- Setup Polymer -->
    <script type="application/dart" src="index.html.0.dart"></script>
    <script src="packages/browser/dart.js"></script>

    <!-- Check for web platform features -->
    <script src="../../feature.check.js"></script>

    <!-- Setup syntax highlighting -->
    <link rel="stylesheet" href="../../syntax.css">
    <script src="../../highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </head>
  <body>
    <px-flex-panel orientation="vertical" style="min-height: 100%;">
      <div class="header-area">
  <div class="header">
    <h1>Components</h1>
    <h2>A set of reusable components for web applications</h2>
  </div>
</div>
<px-flex-panel class="content" orientation="horizontal" style="flex:1">
  <div class="documentation" style="flex: 1;">
    <div class="component-name">&lt;px-tooltip&gt;</div>
    <div class="overview"><p>A control that creates a pop-up element to display information for an element.</p></div>
    <h2>Examples</h2>
    <p>Simple tooltips.</p>
    <div class="example">
      <px-flex-panel orientation="vertical">
  <p>This tooltip is the <px-tooltip text="I am the default">default</px-tooltip> tooltip.</p>
  <p>This tooltip is placed on <px-tooltip text="I am placed on the top" placement="top">top</px-tooltip>.</p>
  <p>This tooltip is placed on <px-tooltip text="I am placed on the bottom" placement="bottom">bottom</px-tooltip>.</p>
  <p>This tooltip is placed on <px-tooltip text="I am placed on the left" placement="left">left</px-tooltip>.</p>
  <p>This tooltip is placed on <px-tooltip text="I am places on the right" placement="right">right</px-tooltip>.</p>
</px-flex-panel>
      <pre class="code"><code>&lt;px-flex-panel orientation="vertical"&gt;
  &lt;p&gt;This tooltip is the &lt;px-tooltip text="I am the default"&gt;default&lt;/px-tooltip&gt; tooltip.&lt;/p&gt;
  &lt;p&gt;This tooltip is placed on &lt;px-tooltip text="I am placed on the top" placement="top"&gt;top&lt;/px-tooltip&gt;.&lt;/p&gt;
  &lt;p&gt;This tooltip is placed on &lt;px-tooltip text="I am placed on the bottom" placement="bottom"&gt;bottom&lt;/px-tooltip&gt;.&lt;/p&gt;
  &lt;p&gt;This tooltip is placed on &lt;px-tooltip text="I am placed on the left" placement="left"&gt;left&lt;/px-tooltip&gt;.&lt;/p&gt;
  &lt;p&gt;This tooltip is placed on &lt;px-tooltip text="I am places on the right" placement="right"&gt;right&lt;/px-tooltip&gt;.&lt;/p&gt;
&lt;/px-flex-panel&gt;</code></pre>
    </div>
  </div>
  <div class="component-selection">
    <h2>Layout</h2>
      <div class="link">
        <a href="../../components/flex_panel/index.html">FlexPanel</a>
      </div>
      <div class="link">
        <a href="../../components/grid_panel/index.html">GridPanel</a>
      </div>
    <h2>Navigation</h2>
      <div class="link">
        <a href="../../components/accordion/index.html">Accordion</a>
      </div>
      <div class="link">
        <a href="../../components/expander/index.html">Expander</a>
      </div>
      <div class="link">
        <a href="../../components/scroll_viewer/index.html">ScrollViewer</a>
      </div>
      <div class="link">
        <a href="../../components/tab/index.html">Tab</a>
      </div>
      <div class="link">
        <a href="../../components/tree_view/index.html">TreeView</a>
      </div>
    <h2>Controls</h2>
      <div class="link">
        <a href="../../components/button/index.html">Button</a>
      </div>
      <div class="link">
        <a href="../../components/list_view/index.html">ListView</a>
      </div>
      <div class="link">
        <a href="../../components/progress_bar/index.html">ProgressBar</a>
      </div>
      <div class="link">
        <a href="../../components/tooltip/index.html">Tooltip</a>
      </div>
  </div>
</px-flex-panel>
      <div class="footer">
        <px-flex-panel orientation="horizontal">
        </px-flex-panel>
        <p>Code licensed under a <a class="external" href="http://opensource.org/licenses/Zlib">zlib license</a>. Documentation under <a class="external" href="http://creativecommons.org/licenses/by/3.0/">CC by 3.0</a></p>
      </div>
    </px-flex-panel>

    <div class="navigation-area">
      <px-flex-panel orientation="horizontal" class="navigation">
        <div class="link"><a href="../../index.html">Pixelate</a></div>
        <div class="link"><a href="../../getting_started/index.html">Getting started</a></div>
        <div class="link"><a href="../../components/flex_panel/index.html">Components</a></div>
      </px-flex-panel>
    </div>
  
</body></html>