@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat-Regular"), url(../fonts/montserrat-webfont.woff) format("woff"); }

@font-face {
  font-family: 'FontAwesome';
  src: url(../fonts/fontawesome-webfont.ttf) format("truetype"); }

body {
  margin: 0px;
  color: white;
  background-color: #232323;
  font-family: 'Montserrat', sans-serif; }

*, *:before, *:after {
  user-select: none;
  -webkit-user-select: none; }
