body ^^ px-tab ^ .tab {
  cursor: pointer;
  padding: 10px 20px;
  transition: background-color 1s;
  font-size: 24px;
  line-height: 24px; }
  body ^^ px-tab ^ .tab:hover {
    background-color: #82b3bd; }
  body ^^ px-tab ^ .tab:active {
    background-color: #4b828e; }
  body ^^ px-tab ^ .tab.selected {
    background-color: #5a9aa8; }
body ^^ px-tab ^ .tabs.top {
  border-bottom: 1px solid #5a9aa8; }
body ^^ px-tab ^ .tabs.bottom {
  border-top: 1px solid #5a9aa8; }
body ^^ px-tab ^ .tabs.left {
  border-right: 1px solid #5a9aa8; }
body ^^ px-tab ^ .tabs.right {
  border-left: 1px solid #5a9aa8; }
body ^^ px-tab-item.scrollable {
  overflow: scroll; }
  body ^^ px-tab-item.scrollable::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
    height: 6px; }
  body ^^ px-tab-item.scrollable::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: rgba(255, 255, 255, 0.2); }
  body ^^ px-tab-item.scrollable::-webkit-scrollbar-track {
    background-color: transparent; }
  body ^^ px-tab-item.scrollable::-webkit-scrollbar-corner {
    background-color: rgba(255, 255, 255, 0.3); }
