body /deep/ {
  /* placement: top */
  /* placement: bottom */
  /* placement: left */
  /* placement: right */ }
  body /deep/ px-tooltip {
    position: relative;
    white-space: nowrap;
    cursor: pointer;
    color: #5a9aa8; }
  body /deep/ px-tooltip:before,
  body /deep/ px-tooltip:after {
    position: absolute;
    visibility: hidden;
    z-index: 99;
    opacity: 0;
    transition: 0.2s ease; }
  body /deep/ px-tooltip:hover:before,
  body /deep/ px-tooltip:hover:after {
    visibility: visible;
    opacity: 1; }
  body /deep/ px-tooltip:before {
    content: '';
    z-index: 100; }
  body /deep/ px-tooltip:after {
    content: attr(text);
    color: white;
    background: black;
    padding: 10px; }
  body /deep/ px-tooltip:before,
  body /deep/ px-tooltip:after {
    transition: opacity 0.2s ease, visibility 0.2s ease, transform 0.2s ease; }
  body /deep/ px-tooltip.top:before {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    margin-bottom: -5px; }
  body /deep/ px-tooltip.top:after {
    margin-left: -15px; }
  body /deep/ px-tooltip.top:before,
  body /deep/ px-tooltip.top:after {
    bottom: 100%;
    left: 50%; }
  body /deep/ px-tooltip.top:hover:after,
  body /deep/ px-tooltip.top:hover:before {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px); }
  body /deep/ px-tooltip.bottom:before {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
    margin-top: -5px; }
  body /deep/ px-tooltip.bottom:after {
    margin-left: -15px; }
  body /deep/ px-tooltip.bottom:before,
  body /deep/ px-tooltip.bottom:after {
    top: 100%;
    left: 50%; }
  body /deep/ px-tooltip.bottom:hover:after,
  body /deep/ px-tooltip.bottom:hover:before {
    transform: translateY(10px);
    -webkit-transform: translateY(10px); }
  body /deep/ px-tooltip.left:before {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid black;
    margin-right: -5px; }
  body /deep/ px-tooltip.left:after {
    margin-bottom: -15px; }
  body /deep/ px-tooltip.left:before,
  body /deep/ px-tooltip.left:after {
    right: 100%;
    bottom: 50%; }
  body /deep/ px-tooltip.left:hover:after,
  body /deep/ px-tooltip.left:hover:before {
    transform: translateX(-10px);
    -webkit-transform: translateX(-10px); }
  body /deep/ px-tooltip.right:before {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid black;
    margin-left: -5px; }
  body /deep/ px-tooltip.right:after {
    margin-bottom: -15px; }
  body /deep/ px-tooltip.right:before,
  body /deep/ px-tooltip.right:after {
    left: 100%;
    bottom: 50%; }
  body /deep/ px-tooltip.right:hover:after,
  body /deep/ px-tooltip.right:hover:before {
    transform: translateX(10px);
    -webkit-transform: translateX(10px); }
