<!DOCTYPE html><html><head><script src="../../packages/shadow_dom/shadow_dom.debug.js"></script>
<script src="../../packages/custom_element/custom-elements.debug.js"></script>
<script src="../../packages/browser/interop.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixelate Components</title>
    <!-- Import the styles -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../../packages/pixelate_flat/stylesheets/main.css">
    <link rel="stylesheet" href="../../packages/pixelate_flat/stylesheets/tab.css">
    <link rel="stylesheet" href="../../style.css">

    <!-- Import the elements -->
    
    
    

    <!-- Setup Polymer -->
    <script src="index.html_bootstrap.dart.js"></script>
    

    <!-- Check for web platform features -->
    <script src="../../feature.check.js"></script>

    <!-- Setup syntax highlighting -->
    <link rel="stylesheet" href="../../syntax.css">
    <script src="../../highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </head>
  <body><polymer-element name="px-flex-panel" attributes="orientation">
  <template> 
    <style>
      :host {
        display: flex !important;
        border-box; box-sizing; 
      }
      
      :host > * {
        border-box; box-sizing;
      }
    </style>
    <content></content>    
  </template>
  
</polymer-element>
<polymer-element name="px-tab-item" attributes="header">
  <template>
    <style>
      :host {
        display: block;
        border-box; box-sizing;
      }

      /* Hidden class required for the cusomizable mixin */
      .hidden { display: none !important; }
    </style>
    <!-- Hide the tab header. The contents will be copied by the tab panel -->
    <div class="hidden">
      <px-flex-panel class="default-tab-item-header">{{header}}</px-flex-panel>
      <!-- Potential override for the header -->
      <content select=".tab-item-header"></content>
    </div>
    <content></content>
  </template>
  
</polymer-element>
<polymer-element name="px-tab" attributes="tabplacement">
  <template>
    <style>
      :host {
        display: flex;
        border-box; box-sizing;
      }

      .content {
        flex: 1;
      }

      .hidden { display: none !important; }
    </style>
    <px-flex-panel class="tabs"></px-flex-panel>
    <px-flex-panel class="content">
      <content select="px-tab-item"></content>
    </px-flex-panel>
  </template>
  
</polymer-element>

    <px-flex-panel orientation="vertical" style="min-height: 100%;">
      <div class="header-area">
  <div class="header">
    <h1>Components</h1>
    <h2>A set of reusable components for web applications</h2>
  </div>
</div>
<px-flex-panel class="content" orientation="horizontal" style="flex:1">
  <div class="documentation" style="flex: 1;">
    <div class="component-name">&lt;px-tab&gt;</div>
    <div class="overview"></div>
    <h2>Examples</h2>
    <p>A tab control with the tab strip at the top.</p>
    <div class="example">
      <px-tab>
  <px-tab-item header="Section 1">
    <p>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</p>
  </px-tab-item>
  <px-tab-item header="Section 2">
    <p>Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna.</p>
  </px-tab-item>
  <px-tab-item header="Section 3">
    <p>Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis. Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.</p>
    <ul>
      <li>List item 1</li>
      <li>List item 2</li>
      <li>List item 3</li>
    </ul>
  </px-tab-item>
  <px-tab-item header="Section 4">
    <p>Cras dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia mauris vel est.</p>
    <p>Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
  </px-tab-item>
</px-tab>
      <pre class="code"><code>&lt;px-tab&gt;
  &lt;px-tab-item header="Section 1"&gt;
    &lt;p&gt;Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.&lt;/p&gt;
  &lt;/px-tab-item&gt;
  &lt;px-tab-item header="Section 2"&gt;
    &lt;p&gt;Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna.&lt;/p&gt;
  &lt;/px-tab-item&gt;
  &lt;px-tab-item header="Section 3"&gt;
    &lt;p&gt;Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis. Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.&lt;/p&gt;
    &lt;ul&gt;
      &lt;li&gt;List item 1&lt;/li&gt;
      &lt;li&gt;List item 2&lt;/li&gt;
      &lt;li&gt;List item 3&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/px-tab-item&gt;
  &lt;px-tab-item header="Section 4"&gt;
    &lt;p&gt;Cras dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia mauris vel est.&lt;/p&gt;
    &lt;p&gt;Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.&lt;/p&gt;
  &lt;/px-tab-item&gt;
&lt;/px-tab&gt;</code></pre>
    </div>
    <p>A tab control with the tab strip at the left.</p>
    <div class="example">
      <px-tab tabplacement="left">
  <px-tab-item header="Section 1">
    <p>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</p>
  </px-tab-item>
  <px-tab-item header="Section 2">
    <p>Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna.</p>
  </px-tab-item>
  <px-tab-item header="Section 3">
    <p>Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis. Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.</p>
    <ul>
      <li>List item 1</li>
      <li>List item 2</li>
      <li>List item 3</li>
    </ul>
  </px-tab-item>
  <px-tab-item header="Section 4">
    <p>Cras dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia mauris vel est.</p>
    <p>Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
  </px-tab-item>
</px-tab>
      <pre class="code"><code>&lt;px-tab tabplacement="left"&gt;
  &lt;px-tab-item header="Section 1"&gt;
    &lt;p&gt;Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.&lt;/p&gt;
  &lt;/px-tab-item&gt;
  &lt;px-tab-item header="Section 2"&gt;
    &lt;p&gt;Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna.&lt;/p&gt;
  &lt;/px-tab-item&gt;
  &lt;px-tab-item header="Section 3"&gt;
    &lt;p&gt;Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis. Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.&lt;/p&gt;
    &lt;ul&gt;
      &lt;li&gt;List item 1&lt;/li&gt;
      &lt;li&gt;List item 2&lt;/li&gt;
      &lt;li&gt;List item 3&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/px-tab-item&gt;
  &lt;px-tab-item header="Section 4"&gt;
    &lt;p&gt;Cras dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia mauris vel est.&lt;/p&gt;
    &lt;p&gt;Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.&lt;/p&gt;
  &lt;/px-tab-item&gt;
&lt;/px-tab&gt;</code></pre>
    </div>
  </div>
  <div class="component-selection">
    <h2>Layout</h2>
      <div class="link">
        <a href="../../components/flex_panel/index.html">FlexPanel</a>
      </div>
      <div class="link">
        <a href="../../components/grid_panel/index.html">GridPanel</a>
      </div>
    <h2>Navigation</h2>
      <div class="link">
        <a href="../../components/accordion/index.html">Accordion</a>
      </div>
      <div class="link">
        <a href="../../components/expander/index.html">Expander</a>
      </div>
      <div class="link">
        <a href="../../components/scroll_viewer/index.html">ScrollViewer</a>
      </div>
      <div class="link">
        <a href="../../components/tab/index.html">Tab</a>
      </div>
      <div class="link">
        <a href="../../components/tree_view/index.html">TreeView</a>
      </div>
    <h2>Controls</h2>
      <div class="link">
        <a href="../../components/button/index.html">Button</a>
      </div>
      <div class="link">
        <a href="../../components/list_view/index.html">ListView</a>
      </div>
      <div class="link">
        <a href="../../components/progress_bar/index.html">ProgressBar</a>
      </div>
  </div>
</px-flex-panel>
      <div class="footer">
        <px-flex-panel orientation="horizontal">
        </px-flex-panel>
        <p>Code licensed under a <a class="external" href="http://opensource.org/licenses/Zlib">zlib license</a>. Documentation under <a class="external" href="http://creativecommons.org/licenses/by/3.0/">CC by 3.0</a></p>
      </div>
    </px-flex-panel>

    <div class="navigation-area">
      <px-flex-panel orientation="horizontal" class="navigation">
        <div class="link"><a href="../../index.html">Pixelate</a></div>
        <div class="link"><a href="../../getting_started/index.html">Getting started</a></div>
        <div class="link"><a href="../../components/flex_panel/index.html">Components</a></div>
      </px-flex-panel>
    </div>
  
</body></html>